<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>

        <activity
            android:name=".NewsViewerActivity"
            android:theme="@style/AppTheme"
            android:exported="true">

            <!--
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="stankin.ru"
                    android:pathPrefix="/news/item_"
                    android:scheme="https" />
            </intent-filter>
            -->

        </activity>

    </application>
</manifest>