<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vereshchagin.nikolay.stankinschedule">

    <dist:module dist:instant="true" />

    <queries>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--   Widgets   -->
        <receiver
            android:name=".widget.ScheduleWidget"
            android:label="@string/widget_schedule_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_schedule_app_info" />
        </receiver>

        <activity
            android:name=".widget.ScheduleWidgetConfigureActivity"
            android:label="@string/widget_configurator"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- Services -->
        <service
            android:name=".widget.ScheduleWidgetRemoteFactory$Service"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <!-- Activities -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Splash"
            android:windowSoftInputMode="adjustPan">
            <nav-graph android:value="@navigation/activity_main_nav_graph" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".ui.schedule.editor.pair.PairEditorActivity"
            android:label="@string/pair_editor"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.schedule.editor.date.DateEditorActivity"
            android:label="@string/date_editor"
            android:parentActivityName=".ui.schedule.editor.pair.PairEditorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.schedule.repository.ScheduleRepositoryActivity"
            android:label="@string/repository"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.news.viewer.NewsViewerActivity"
            android:label="@string/news_viewer"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="stankin.ru"
                    android:pathPrefix="/news/item_"
                    android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.modulejournal.predict.ModuleJournalPredictActivity"
            android:label="Predict rating"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
